body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 5rem;
}

label {
  padding: 1em 0;
}

button {
  margin: 1rem auto;
  width: 50%;
}

.App {
  text-align: center;
}

.about {
  background-color: #0bc4ff;
  display: flex;
  height: 400px;
  margin: 70px auto;
  max-width: 1400px;
  border-radius: 30px;
}

.about-list {
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  margin: 70px 50px;
}

.details {
  display: flex;
  margin: 0 auto;
}

.details-info {
  display: flex;
  margin: 30px auto;
}
