.list-item {
  max-width: 700px;
  margin: 40px auto;
  display: flex;
  box-shadow: 3px 5px 5px 2px #c0c0c0;
}
.list-details {
  margin: 0px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.list-item img {
  width: 10rem;
  height: 10em;
}
.reserve-details {
  text-decoration: none;
  font-size: 1.1em;
  color: white;
  background-color: #1277c0;
  display: flex;
  margin: 20px;
  width: 6em;
  padding: 6px 10px;
}
