.marker {
  background-image: url('https://res.cloudinary.com/isaseabra/image/upload/v1598450248/marker_kbr6zn.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  width: 3em;
  height: 3em;
  position: absolute;
  font-size: 14px;
  padding: 2px 2px 3px 7px;
  line-height: 1.7em;
  top: 100%;
  left: 100%;
  user-select: none;
  offset-position: bottom 10px right 20px;
}
