.list-item {
  max-width: 700px;
  //margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 3px 5px 5px 2px #c0c0c0;
}
.list-details {
  //margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  p {
    margin: 0;
  }
}
.list-item img {
  padding: 10px;
  width: 6rem;
  height: 6em;
}

.reserve-details {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  color: white;
  background-color: #1277c0;
  padding: 0.8em;
}
