@import './../../styles/config';

#cta-button {
  background-color: $light-blue;
  color: white !important;
  min-width: 6em;
  text-align: center;
  border-radius: 0.4em;
}

nav {
  border-bottom: 5px solid #00d9e7;
  box-shadow: 3px 5px 5px 2px #36c8f8;
  a,
  span {
    color: #0bc4ff !important;
    font-size: 1.1em;
    line-height: 2em;
    display: flex;
    margin: 0 1.5em;
    :last-child {
      color: white !important;
    }
  }
  .nav-text {
    font-size: 1.8em;
  }
  .user-image {
    max-width: 40px;
    padding-top: 4px;
  }
  .cta-button {
    background-color: $light-blue;
    color: white !important;
  }
}
