@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

$font-sans: 'Alata', sans-serif;
$font-logo: 'Tillana', monospace;
$light-blue: #00d9e7;
$dark-blue: #36c8f8;
