@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@500&display=swap');

$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-logo: 'Tillana', monospace;
$grey: hsla(0, 0, 75%, 0.5);
$dark-color: rgb(31, 31, 36);
$secondary-dark-color: rgb(24, 22, 22);
$light-color: rgb(255, 254, 241);
$accent: #f58f00;
