@import 'config';

#homeview {
  form {
    margin-top: 4em;
    text-align: center;
    button {
      color: white;
      background-color: $dark-blue;
      border: 1px solid $dark-blue;
      border-radius: 0.4em;
      padding: 1em 2em;
      margin: 1em;
    }
  }
  input {
    width: 600px;
    border: 1px $light-blue solid;
    border-radius: 0.4em;
    padding: 1em 1.8em;
    overflow: hidden;
  }

  .near-me-button {
    display: block;
    margin: 0.5em auto;
    text-align: center;
  }

  img {
    width: 100%;
    margin-top: 2em;
  }
}

#about {
  padding: 3em;
  background-color: #00afcece;
  border-radius: 30px;
  margin: 4em 10em;
  h2 {
    font-size: 2em;
    font-weight: bold;
  }
  .row {
    text-align: center;
  }
  .about-icon {
    // height: 100px;
    // width: auto;
    height: 100px;
    width: 100px;
    margin: 1em;
  }
}

@media (min-width: 768px) {
  #about {
    .col {
      padding: 0 2em;
    }
  }
}

@media (min-width: 1440px) {
  #about {
    .col {
      padding: 0 4em;
    }
  }
}

@media (min-width: 400px) {
  #about {
    display: flex;
    align-items: center;
  }
}
