@import 'homeview';
@import 'parkinglist';
@import 'parkingsingle';
@import 'parkingcreate';
@import 'parkingedit';
@import 'signupView';
@import 'signinView';
@import 'config';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
  margin-top: 10em;
  font-family: 'Alata';
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
}

h4 {
}

.container {
  max-width: 95vw;
}

@media (max-width: 685px) {
}

@media (min-width: 768px) {
}

@media (min-width: 400px) {
}
